In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('train.csv')
# df.head()

In [4]:
df = df.drop('id', axis=1)

In [10]:
df['comment_text']

0         Explanation\nWhy the edits made under my usern...
1         D'aww! He matches this background colour I'm s...
2         Hey man, I'm really not trying to edit war. It...
3         "\nMore\nI can't make any real suggestions on ...
4         You, sir, are my hero. Any chance you remember...
                                ...
159566    ":::::And for the second time of asking, when ...
159567    You should be ashamed of yourself \n\nThat is ...
159568    Spitzer \n\nUmm, theres no actual article for ...
159569    And it looks like it was actually you who put ...
159570    "\nAnd ... I really don't think you understand...
Name: comment_text, Length: 159571, dtype: object

In [11]:
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...

True

In [15]:
df['comment_text'] = df['comment_text'].apply(lambda x: re.sub('[^A-Za-z]+', ' ', x))

In [17]:
df['comment_text'] = df['comment_text'].apply(lambda x: x.lower())

In [19]:
stop_words = set(stopwords.words('english'))
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [20]:
df['comment_text'] = df['comment_text'].apply(lambda x: ' '.join([word for word in word_tokenize(x) if word not in stop_words]))

In [23]:
lemmatizer = WordNetLemmatizer()
df['comment_text'] = df['comment_text'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in word_tokenize(x)]))

In [25]:
df.head()

,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,explanation edits made username hardcore metal...,0,0,0,0,0,0
1,aww match background colour seemingly stuck th...,0,0,0,0,0,0
2,hey man really trying edit war guy constantly ...,0,0,0,0,0,0
3,make real suggestion improvement wondered sect...,0,0,0,0,0,0
4,sir hero chance remember page,0,0,0,0,0,0

In [7]:
comments_with_label_1 = ((df['toxic']==1) | (df['severe_toxic']==1) | (df['obscene']==1)
                        | (df['threat']==1) | (df['insult']==1) | (df['identity_hate']==1)).sum()

print(f'Total number of comments with value 1 in any label: {comments_with_label_1}')

Total number of comments with value 1 in any label: 16225

In [8]:
comments_with_all_labels_1 = ((df['toxic']==1) & (df['severe_toxic']==1) & (df['obscene']==1)
                        & (df['threat']==1) & (df['insult']==1) & (df['identity_hate']==1)).sum()

print(f'Total number of comments with value 1 in all labels: {comments_with_all_labels_1}')

Total number of comments with value 1 in all labels: 31

In [9]:
num_non_toxic_comments = ((df['toxic'] == 0) & (df['severe_toxic'] == 0) &
                          (df['obscene'] == 0) & (df['threat'] == 0) &
                          (df['insult'] == 0) & (df['identity_hate'] == 0)).sum()

print(f'Total number of non-toxic comments: {num_non_toxic_comments}')

Total number of non-toxic comments: 143346

In [154]:
# Select all non-toxic comments
non_toxic_comments = df[df['toxic'] == 0]
# Randomly select 16226 non-toxic comments
non_toxic_sample = non_toxic_comments.sample(n=15600, random_state=42)
# Select all toxic comments
toxic_comments = df[df['toxic'] == 1]
# Concatenate the selected non-toxic comments and all toxic comments
new_df = pd.concat([non_toxic_sample, toxic_comments], axis=0)
# Reset the index of the new dataframe
new_df = new_df.reset_index(drop=True)

In [155]:
new_df

,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,fill handle path object consisting curved cont...,0,0,0,0,0,0
1,well tartan sometime student publication cmu d...,0,0,0,0,0,0
2,hi friend talk line marking machine,0,0,0,0,0,0
3,yes cat subject attempt test buttered cat para...,0,0,0,0,0,0
4,utc try book bible may,0,0,0,0,0,0
...,...,...,...,...,...,...,...
30889,previous conversation fucking shit eating libe...,1,0,1,0,1,1
30890,mischievious pubic hair,1,0,0,0,1,0
30891,absurd edits absurd edits great white shark to...,1,0,1,0,1,0
30892,hey listen ever delete edits ever annoyed wwe ...,1,0,0,0,1,0
30893,going keep posting stuff u deleted fucking sit...,1,0,1,0,1,0

In [156]:
num_non_toxic_comments = ((new_df['toxic'] == 0) & (new_df['severe_toxic'] == 0) &
                          (new_df['obscene'] == 0) & (new_df['threat'] == 0) &
                          (new_df['insult'] == 0) & (new_df['identity_hate'] == 0)).sum()

print(f'Total number of non-toxic comments: {num_non_toxic_comments}')

Total number of non-toxic comments: 15498

In [157]:
comments_with_label_1 = ((new_df['toxic']==1) | (new_df['severe_toxic']==1) | (new_df['obscene']==1)
                        | (new_df['threat']==1) | (new_df['insult']==1) | (new_df['identity_hate']==1)).sum()

print(f'Total number of comments with value 1 in any label: {comments_with_label_1}')

Total number of comments with value 1 in any label: 15396

In [158]:
new_df.to_csv('new_train.csv', index=False)